<!DOCTYPE html>
<html>
<head>

</head>

<style>
.navbar {
        background-color: rgb(52, 74, 183); /* Set the background color to pink */
        
    }

.navbar-brand{
    font-size: 25px;
    color: rgb(255, 255, 255);

}

.head{
    cursor: context-menu;
}

</style>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light navbar-bg">
        <div class="container-fluid mx-2 my-1">
            <a class="navbar-brand head" href="javascript:void(0)">
                <i class="fa-solid fa-users-gear mx-4"></i> <span class="">Admin BoOkY</span>
            </a>
        </div>
      </nav>

</body>
</html>
