<html>
  <head> </head>

  <style>
    .card-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 -10px; /* Add negative margin to offset card spacing */
    }
    .card {
      flex: 0 0 calc(25% - 20px); /* 25% width with 20px spacing */
      margin: 10px; /* Add spacing between cards */
    }
  </style>
  <body>
    <nav-bar></nav-bar>
    <div class="card text-center px-4">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="true"
              href="javascript:void"
              >ทั้งหมด</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void" >จิตวิทยา</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void">งานอดิเรก</a>
          </li>
        </ul>
      </div>

      <div class="card-body mx-5">
        <div class="card">
          <img src="../assets/img/cat1.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/cat1.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/cat1.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/cat1.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/cat1.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/cat1.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/cat1.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
