<html>
    <nav-bar></nav-bar>
    <div class="card text-center px-4">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="javascript:void">ทั้งหมด</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void">จิตวิทยา</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void">งานอดิเรก</a>
            </li>
          </ul>
        </div>
        <div class="card-body mx-5">
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/cat1.jpg" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/cat1.jpg" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/cat1.jpg" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/cat1.jpg" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
      </div>
    <footer></footer>
</html>